@import "tailwindcss";

@theme {
  --color-primary: #bc88fc;
  --color-primary-dark: #9b6bcf;
  --color-background-light: #f7f5f8;
  --color-background-dark: #121212;
  --color-surface-dark: #1E1E1E;
  --color-surface-light: #ffffff;

  --font-display: "Inter", sans-serif;
  --font-sans: "Inter", sans-serif;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #121212;
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #444;
}

@layer base {
  body {
    @apply bg-background-light dark:bg-background-dark text-slate-900 dark:text-white font-display h-screen flex flex-col overflow-hidden;
  }

  #app {
    @apply h-full flex flex-col;
  }
}